/* Report */
:root {
  --color-primary: #F5E3CD;
  --color-secondary: #FEF3E7;
  --color-secondary2: #fcf7f2;
  --color-tertiary: #9E5B08;
  --color-text: #703803;
  --color-text2: #502803;
}

.admin-inventory-report-container {
  padding: 20px 5px 20px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.admin-inventory-report {
  display: flex;
  flex-direction: column;
}

.inventory-report-icon {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--color-text);
}

.inventory-report-icon i {
  font-size: 1.8rem;
}

.inventory-report-container {
  margin-top: 1rem;
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  border-radius: 12px;
  padding: 1rem;
}

.report-overview {
  color: var(--color-text);
}

.report-overview h3 {
  font-size: 1.2rem
}

.report-box-container {
  display: flex;
  flex-direction: row;
  padding: 1.2rem;
  width: 100%;
  height: 120px;
  border: 1px solid #5028032c;
  border-radius: 5px;
  color: var(--color-text);
  cursor: pointer;
}

.report-box-container:hover {
  background-color: var(--color-secondary);
  transform: scale(1.01);
}

.box-container-i {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 50%;
  width: 50px;
  background-color: var(--color-primary);

}
.box-container-title{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: .3rem;
}
.box-container-title h3{
  font-size: 1.25rem;
  margin:0;
}
.report-overview{
  display: flex;
  flex-direction: column;
}
.report-overview canvas{
  width: 80px;
  height: 80px;
}


.inventory-report-section {
  margin-top: 2rem;
  width: 10%;
  border: 1px solid var(--color-text);
  background-color: var(--color-secondary);
  cursor: pointer;
  text-align: center;
  padding: .6rem;
  color: var(--color-text);
}

.inventory-report-section h3 {
  font-size: 1.4rem;
}

.inventory-report-section i {
  margin-left: 5px;
}

.most-used-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  border: 1px solid var(--color-text);
  margin-top: 5rem;
}

.most-used-item-wrapper p {
  margin: 0;
}


/* Remove header borders */
.inventory-report-wrapper {
  width: 30%;
  height: auto;
}

.inventory-report-container {
  min-height: 400px;
  overflow-y: auto;
  overflow-x: auto;

}

.admin-inventory-report-table thead th {
  border: 1px solid var(--color-text);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  color: #502C00;
  background-color: #FEF3E7;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Style only the data cells */
.admin-inventory-report-table tbody td {
  border: 1px solid #502C00;
  /* brown border */
  padding: 1.2rem;
  margin: 0;
  gap: 0;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  word-break: break-word;

}

.admin-inventory-report-table tbody {
  border-radius: 2rem;
}

.admin-inventory-report-table {
  margin-top: 1.5rem;
  border-spacing: 0 10px;
  /* creates space between rows */
  overflow: auto;
  width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
  border-collapse: collapse;
  word-wrap: break-word;
  word-break: break-word;
}

.admin-inventory-report-table thead th i {
  font-size: 12px;
}
.admin-inventory-report-table thead th:last-child,
.admin-inventory-report-table tbody td:last-child{
  border-right: none !important;
}
.admin-inventory-report-table thead th:first-child,
.admin-inventory-report-table tbody td:first-child{
  border-left: none !important;
}
.admin-inventory-report-table thead th{
  border-top: none !important;
}
.admin-inventory-report-table tbody tr:last-child td{
  border-bottom: none!important;
}